.venv/
__pycache__/
*.pyc
.env
*.log
.streamlit/
.vscode/
.idea/

# Raw Kaggle dataset
data/raw/

# Ignore generated processed data by default
data/processed/*.parquet
data/processed/*.csv
data/processed/*.txt

# The main RAG artifacts are stored using Git LFS
!data/processed/amazon_support.faiss
!data/processed/amazon_support_metadata.parquet