# Core dependencies
# Add your project dependencies here

pandas
numpy
scikit-learn
sentence-transformers
faiss-cpu
pydantic
python-dotenv
tqdm
pytest
streamlit
google-genai

torch
torchvision
transformers
pyarrow
